* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#loading {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

#loading-msg {
    color: white;
    font-size: 24px;
    font-size: 5em;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .7em;
}