@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Black Han Sans', sans-serif;
}

/* 로고 */
.img-box {
    position: absolute;
    width: 208px;
    height: 25px;
    top: 3%;
    left: 2%;
    z-index: 10;
}

.img-box img {
    width: 100%;
    height: 100%;
}

/* 메인 화면 파트 */
.scroll-area{
    position: relative;
    background-size: cover;
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.backgroudn-box{
    width: 100%;
    height: 100vh;
}

.backgroudn-box img{
    width: 100%;
    height: 100%;
    object-fit:cover;
}

#main-text {
    position: absolute;
    top: 32%;
}

#main-text>path:nth-child(1){
    stroke-dasharray: 559;
    stroke-dashoffset: 559;
    animation: line-anim 2s ease forwards 2.5s;
}
#main-text>path:nth-child(2){
    stroke-dasharray: 235;
    stroke-dashoffset: 235;
    animation: line-anim 2s ease forwards 2.8s;
}
#main-text>path:nth-child(3){
    stroke-dasharray: 104;
    stroke-dashoffset: 104;
    animation: line-anim 2s ease forwards 3.1s;
}
#main-text>path:nth-child(4){
    stroke-dasharray: 366;
    stroke-dashoffset: 366;
    animation: line-anim 2s ease forwards 3.4s;
}
#main-text>path:nth-child(5){
    stroke-dasharray: 559;
    stroke-dashoffset: 559;
    animation: line-anim 2s ease forwards 3.6s;
}
#main-text>path:nth-child(6){
    stroke-dasharray: 533;
    stroke-dashoffset: 533;
    animation: line-anim 2s ease forwards 3.8s;
}
#main-text>path:nth-child(7){
    stroke-dasharray: 653;
    stroke-dashoffset: 653;
    animation: line-anim 2s ease forwards 4s;
} 
#main-text>path:nth-child(8){
    stroke-dasharray: 533;
    stroke-dashoffset: 533;
    animation: line-anim 2s ease forwards 4.2s;
}
#main-text>path:nth-child(9){
    stroke-dasharray: 234;
    stroke-dashoffset: 234;
    animation: line-anim 2s ease forwards 4.8s;
}

@keyframes line-anim {
    to {
        stroke-dashoffset: 0;
    }
}

#sub-text {
    font-size: 3.6em;
    opacity: 0;
    position: absolute;
    top: 52%;
    animation: text-anim 2s ease forwards 4.8s;
}

@keyframes text-anim {
    to {
        opacity: 1;
    }
}

